html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mainContent {
  margin-top: 108px;
}
h1 {
  font-family: "Noto Serif";
  font-size: 72px;

  text-transform: uppercase;
}
h2 {
  font-family: "Noto Serif";
  font-size: 36px;
}
