.container {
  background-image: url("/huzoor-letterhead.png") !important;
  background-repeat: no-repeat;
  background-size: ;
  color: white;
  min-height: 20vh;

  padding: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  font-family: "Noto Serif";
  font-size: 72px;

  text-transform: uppercase;
}
.headingLabel {
  text-transform: none;
  font-family: "Lato";
  font-size: 18px;
}
